### Git ###
.git/
.gitignore
.gitmodules

### JetBrains ###
.idea/

### VS Code ###
.vscode/
.history/

### Node ###
logs/
node_modules/
*.tsbuildinfo
.eslintcache

### Project ###
src/r/
dist/
example/
.editorconfig
config.json
