[submodule "src/r/pdfjs"]
	path = src/r/pdfjs
	url = https://github.com/mozilla/pdf.js.git
  branch = vundefined-10655-gbe0f6ee08 # v3.5.141
  # branch = vundefined-8791-ga2ae56f39 # v2.12.313
  # branch = vundefined-7069-gf2c7338b0 # v2.7.570
  # branch = vundefined-6152-g0974d6052 # v2.5.207
  # branch = vundefined-6499-g3be9c65f0 # v2.6.347
